[Unit]
Description=Serves blank honeypot
StartLimitBurst=1
After=reboot-clean-hpot.service
Requires=reboot-clean-hpot.service
PartOf=hpot-control.target

[Service]
Type=simple
RemainAfterExit=yes
Restart=always
RestartSec=5min
User=student
EnvironmentFile=/etc/environment
ExecStart=/bin/bash ./serve_honeypot.sh "$CNAME_BLANK" "$IP_BLANK" "$PORT_BLANK" "$INFACE" 1
WorkingDirectory=/home/student/all-honeypot-code/running_hpot_code
TimeoutSec=infinity

[Install]
WantedBy=multi-user.target
