.UpdateButtonContainer.passwordForm{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

a:hover.btn-panel-big{
    text-decoration: none;
    color: white;
}

.btn-lg {
	width: max-content;
}

.DisplayElementModule {
	display: -webkit-flex;
	display: flex;
}

.titleMenu {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.labelMargin{
	margin: 15px;
}

.SubDisplayElementContainer.securityButtons{
    margin-top: 15px;
}

.SubDisplayElement.value.dirid{
	width:180px;
}

.SubDisplayElement.value{
	width: 50%;
}

input, input.btn-panel-big, label.btn-panel-big, button{
	width: 200px;
}

.forgotPasswordFlex{
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 50%;
	margin: auto;
}

@media(max-width: 1170px){
	.forgotPasswordFlex{
		width: auto;
	}
}

a.forgotTooltip, a.forgotTooltip:hover, a.forgotTooltip:visited {
	cursor: help;
	color:black;
}