@media(max-width: 1150px){
	.DisplayElementModuleContainer.right{
		float:none;
		width:100%;
	}
	
	.DisplayElementModuleContainer.left{
		float:none;
		margin-bottom:30px;
		width:100%;
	}
	
	.sectionInfoPanel{
		width:55%;
	}
	
	.optionButtonContainer{
		border-bottom: 1px solid lightgray;
	}
}