@import "password-mgmt-dynamic.css";

body{
	background-color:black;
}

.alert-warning{
	color: #000000;
}

.sectionInfoPanel{
	background-color: #FFE649;
	color:black;
	font-size:14pt;
	font-weight:bold;
	width:100%;
	border-radius:10px;
	border:2px outset #808080;
	margin: 10px auto;
	padding:5px;
	box-shadow: 1px 1px 5px #808080;
}

h1, h2{
	text-align: center;
}

label{
	vertical-align: middle;
	color: #39393d;
	margin-bottom: 0px;
}

label.changePassword{
	text-align: right;
	width:40%;
	padding-right: 0px;
}

.ElementTitle{
	text-align:center;
}

.SubDisplayElementContainer{
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.SubDisplayElement{
	margin: 5px 20px 5px 0px;
	line-height:20px;
}

.SubDisplayElement.key{
	text-align:right;
	width: 50%;
}

.SubDisplayElement.value{
	width: 50%;
	padding: 3px 5px;
}

.UpdateButtonContainer{
	width:100%;
	text-align:center;
	margin: 15px auto;
}

.updatePasswordBtn{
	width:200px;
}

.optionButtonContainer{
	text-align:center;
	border-top:1px solid lightgray; 
	padding: 15px 0px;
}

.optionButtons{
	margin:0px 5px;
	white-space: nowrap;
}

.optionButtonTopContainer{
	text-align:center;
	border-top:1px solid lightgray;
	border-bottom: 1px solid lightgray;
	width: 100%;
}

.optionButtonsTop{
	width: 275px;
    text-align: center;
    margin: 15px auto;
	white-space: nowrap;
	background-color: #d1d1d1;
	color: black;
}

.mainReqList{
	text-align:left;
	width:75%;
	margin:auto;
}

label.buttonLabel{
    display:inline-block;
}

.augSelect{
	width: auto;
}

.searchDirIdMargin{
	margin: auto 10px;
}

.flexContainer{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
}

.flexContent{
	width: 50%;
}

@media(max-width: 1200px){
	.flexContent{
		width: auto;
	}
}